* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/bg_image.jpg);
    height: 85vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1300px, 100vw);
}

/* Transparent dummy box */
.transparent_dummy_box {
    height: 85vh;
    opacity: 0.75;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
}

/* Nav bar */
nav {
    max-width: 80vw;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(216, 133, 133); */
    position: relative;
    z-index: 10;
}

/* Netflix logo */
.Netflix_logo {
    width: 150px;
    cursor: pointer;

}

/* Nav-right side */
.nav-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* right side - 1st div for english button */
.english_button {
    display: flex;
    gap: 8px;
    border: 1px solid rgba(128, 128, 128, 0.745);
    border-radius: 7px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.393);
    cursor: pointer;
}

/* To change the color of language icon svg to white */
.lang_svg {
    color: white;
}

/* dropdown menu in language button */
.language_dropdown {
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

/* Nav-bar right-side signIn button */
.sign_In_button {
    text-decoration: none;
    border-radius: 6px;
    padding: 7px 16px;
    background-color: rgba(255, 0, 0, 0.939);
    cursor: pointer;
}

.sign_In_button:hover {
    background-color: rgba(255, 0, 0, 0.71);
}

/* anchor tag in signin button */
.sign_In_button a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

/* Hero Texts */
.hero_text {
    width: 100%;
    height: 85vh;
    /* background-color: white; */
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    padding-top: 30px;
}

/* 1st div inside '.hero_text' div */
.h1_p {
    height: 213px;
    width: 588px;
}

/* H1 inside .hero_text div */
.h1_p h1 {
    font-size: 56px;
    font-weight: 900;
    text-align: center;
}

/* p inside .hero_text div */
.h1_p p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
}

/* 2nd dive inside .hero_text div */
.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* H3 inside form */
.form h3 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

/* action div inside form div */
.action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

/* email input inside action div */
.email_div input {
    font-size: 15px;
    padding: 10px 15px;
    background-color: black;
    border: 1px solid grey;
    border-radius: 5px;
    color: white;
    height: 35px;
    width: 340px;
    cursor: pointer;
}

/* Get Started button inside action div */
.action button {
    background-color: red;
    font-size: 24px;
    font-weight: 500px;
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
}

.action button:hover {
    background-color: rgba(255, 0, 0, 0.77);
}

/* Red Curve after .main div */
.red_curve_1 {
    width: 100%;
    height: 5px;
    /* adjust if needed */
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    transform: translateY(-100%);
    background-color: red;
}

/* H3 in trending now section */
.trending_now h3 {
    max-width: 75vw;
    margin: auto;
    color: white;
    font-size: 24px;
    font-weight: 500;
    padding-top: 30px;
}

.trending_movies {
    width: 70vw;
    margin: auto;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: aliceblue; */
    align-items: center;
}

/* Movies containing div */
.movie {
    width: 12vw;
    height: 30vh;
    border-radius: 8px;
    cursor: pointer;
    /* background-color: blue; */
}

/* Movies*/
.m1 {
    background-image: url(assets/images/img_1.png);
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
}

.m2 {
    background-image: url(assets/images/img_2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.m3 {
    background-image: url(assets/images/img_3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.m4 {
    background-image: url(assets/images/img_4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.m5 {
    background-image: url(assets/images/img_5.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.m6 {
    background-image: url(assets/images/img_6.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.m7 {
    background-image: url(assets/images/img_7.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.m8 {
    background-image: url(assets/images/img_8.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.m9 {
    background-image: url(assets/images/img_9.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.m10 {
    background-image: url(assets/images/img_10.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Red curve_2 after 1st section which is movie section */
.red_curve_2 {
    width: 100%;
    height: 2px;
    /* adjust if needed */
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    transform: translateY(-100%);
    background-color: red;
}

/* Section 2 started here which is more reasons to join */

/* h3 - reason section */
.reason_section h3 {
    max-width: 75vw;
    margin: auto;
    padding-top: 40px;
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
}

/* reason div which is grid */
.reason_div {
    max-width: 75vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* gap: 10px; */
    /* background-color: brown; */
    margin-bottom: 50px;
}

/* div items inside grid */
.reason_item {
    width: 15vw;
    height: 35vh;
    /* background-color: aqua; */
    background: linear-gradient(160deg,
            #0f0f20 0%,
            #1b2348 45%,
            #2a1c3f 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 10px;
}

/* h3 inside div item */
.reason_div h3 {
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    padding-top: 20px;
}

/* p inside div item */
.reason_div p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
}


/* svg inside item */
.reason_item svg {
    width: 75px;
    padding-left: 140px;
    padding-top: 40px;
}

/* FAQ section starts here */

/* h3 - FAQ section  */
.FAQ h3 {
    color: white;
    max-width: 75vw;
    margin: auto;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

/* FAQ div which is a grid */
.FAQ_grid {
    max-width: 75vw;
    margin: auto;
    /* height: 70vh; */
    display: gird;
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin-bottom: 70px;
    /* background-color: black; */
}

/* items inside gird which a div */
.grid_item {
    height: 10vh;
    width: 75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    background-color: rgba(128, 128, 128, 0.423);
    border: 4px solid black;
    padding-right: 20px;
    cursor: pointer;
    ;
}

.grid_item:hover {
    background-color: rgba(128, 128, 128, 0.583);
    ;
}

/* h3 inside items */
.grid_item h3 {
    font-size: 24px;
    font-weight: 400;
}

/* plus svg inside items */
.grid_item img {
    width: 30px;
    /* filter: invert(1); */
}

/* form in footer starts here */
.membership {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    /* background-color: aquamarine; */
    height: 15vh;
    margin-bottom: 50px;
}

.membership h3 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: white;
    padding-bottom: 15px;
}

.membership input {
    width: 500px;
}

/* Related stuffs starts here */
.related {
    max-width: 75vw;
    height: 60vh;
    /* background-color: rgb(166, 164, 162); */
    margin: auto;
    display: flex;
    flex-direction: column;
}

/* Call - div */
.call {
    font-size: 16px;
    font: 400;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.7)
}

.call a {
    color: rgba(255, 255, 255, 0.7);
}

/* Actual grid which a <ul> */
.related_link_grid ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 60px;
}

.related_link_grid ul li {
    display: flex;
    align-items: center;
}

.related_link_grid ul li a {
    color: rgba(255, 255, 255, 0.7);
}

/* Footer lang */
.footer_lang {
    width: 100px;
    margin-bottom: 40px;
}

.netflix_india {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 14px;
}
.protected {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 80px;
    font-weight: 400;
    font-size: 13px;
}

.protected button {
    border: none;
    color: rgb(68, 142, 244);
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
}